      </div>
    </div>
    <% if (environment === 'development') { %>
      <script src="/assets/all.js"></script>
      <script src="http://localhost:35729/livereload.js"></script>
    <% } else { %>
      <script src="/assets/all.js"></script>
    <% } %>
  </body>
</html>
